/*!**************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/vue-loader/dist/index.js??ruleSet[1].rules[8].use[0]!./src/admin/pages/HomePage.vue?vue&type=style&index=0&id=5333109c&scoped=true&lang=css ***!
  \**************************************************************************************************************************************************************************************************************************************************************/

#vue-demo-site[data-v-5333109c] {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: center;
    align-items: center;
}
h1[data-v-5333109c] {
    font-size: 5rem;
    color: purple;
    margin: 0;
}
h2[data-v-5333109c] {
    font-size: 2rem;
    margin: 0;
}
button[data-v-5333109c] {
    padding: 10px 25px;
    background: purple;
    color: #fff;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 50px;
}

/*!********************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-3.use[2]!./node_modules/sass-loader/dist/cjs.js!./src/admin/scss/admin.scss ***!
  \********************************************************************************************************************************************/

