/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-3.use[2]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/sass-loader/dist/cjs.js!./node_modules/vue-loader/dist/index.js??ruleSet[1].rules[8].use[0]!./src/frontend/components/AppHeader.vue?vue&type=style&index=0&id=bd016bee&scoped=true&lang=scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************/
header[data-v-bd016bee] {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--padding-l);
}
@media screen and (max-width: 600px) {
header[data-v-bd016bee] {
    flex-direction: column;
}
}
nav[data-v-bd016bee] {
  display: flex;
  justify-content: space-between;
  gap: var(--padding-xs);
}
.user-controls[data-v-bd016bee] {
  text-align: right;
}
button[data-v-bd016bee]:hover {
  cursor: pointer;
}
@media print {
.app-header[data-v-bd016bee] {
    display: none;
}
}
/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/vue-loader/dist/index.js??ruleSet[1].rules[8].use[0]!./src/frontend/components/AppFooter.vue?vue&type=style&index=0&id=ff6633d2&scoped=true&lang=css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/

footer[data-v-ff6633d2] {
  margin: 1rem 0 1rem 0;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-3.use[2]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/sass-loader/dist/cjs.js!./node_modules/vue-loader/dist/index.js??ruleSet[1].rules[8].use[0]!./src/frontend/components/PrincipleHeader.vue?vue&type=style&index=0&id=13567564&scoped=true&lang=scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.principle-icons[data-v-13567564] {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.principle-icons p[data-v-13567564],
.principle-icons li[data-v-13567564] {
  text-align: center;
}
.principle-icon[data-v-13567564] {
  height: 5rem;
  width: 5rem;
  min-width: 5rem;
  border-radius: 50%;
  border: none;
  display: inline-block;
  transition: all 0.25s ease;
  filter: saturate(100%) brightness(100%);
  padding: 0;
}
.principle-icon img[data-v-13567564] {
  width: 100%;
  height: auto;
}
.principle-icon[data-v-13567564]:hover {
  cursor: pointer;
  filter: saturate(150%) brightness(110%);
}
.principle-icon[data-v-13567564]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  /* Any other styles to indicate disabled status */
}
.principle-header[data-v-13567564] {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
.principle-header h2[data-v-13567564] {
  margin-top: 0;
}
.principle-header__icon[data-v-13567564] {
  display: flex;
}
.principle-icon[data-v-13567564] {
  width: 120px;
  height: 120px;
  margin-right: 1rem;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/vue-loader/dist/index.js??ruleSet[1].rules[8].use[0]!./src/frontend/components/ConfirmationModal.vue?vue&type=style&index=0&id=e95c451a&scoped=true&lang=css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/

.opl-modal-overlay[data-v-e95c451a] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 30;
}
.opl-modal[data-v-e95c451a] {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
.opl-modal-header[data-v-e95c451a] {
  margin-bottom: 20px;
  font-size: 1.2em;
}
.opl-modal-body[data-v-e95c451a] {
  margin-bottom: 20px;
}
.opl-modal-footer[data-v-e95c451a] {
  text-align: right;
  display: flex;
  justify-content: space-between;
}
.opl-modal-footer button[data-v-e95c451a] {
  margin-left: 10px;
}

/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/vue-loader/dist/index.js??ruleSet[1].rules[8].use[0]!./src/frontend/components/PreloadData.vue?vue&type=style&index=0&id=7b8f4c0e&scoped=true&lang=css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/

.preloader[data-v-7b8f4c0e] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.spinner[data-v-7b8f4c0e] {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin-7b8f4c0e 1s linear infinite;
}
@keyframes spin-7b8f4c0e {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}

/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-3.use[2]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/sass-loader/dist/cjs.js!./node_modules/vue-loader/dist/index.js??ruleSet[1].rules[8].use[0]!./src/frontend/views/ActionsPage.vue?vue&type=style&index=0&id=3871f7c7&scoped=true&lang=scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.panel-list[data-v-3871f7c7] {
  padding: 0;
  margin: 0;
  list-style: none;
}
.panel-list .c-card[data-v-3871f7c7] {
  max-width: 100%;
}
.panel-list.selected .panel-list__item[data-v-3871f7c7] {
  background-color: var(--brand-orange);
}
.panel-list.selected .panel-list__item h3[data-v-3871f7c7],
.panel-list.selected .panel-list__item p[data-v-3871f7c7] {
  color: var(--white);
}
.panel-list__item[data-v-3871f7c7] {
  list-style: none;
  cursor: pointer;
}
.panel-list__item[data-v-3871f7c7]:not(.selected):hover {
  background-color: var(--brand-orange);
}
.panel-list__item:not(.selected):hover h3[data-v-3871f7c7],
.panel-list__item:not(.selected):hover p[data-v-3871f7c7],
.panel-list__item:not(.selected):hover a[data-v-3871f7c7],
.panel-list__item:not(.selected):hover a[data-v-3871f7c7]:visited {
  color: var(--white) !important;
}
.panel-list__item.selected[data-v-3871f7c7] {
  background-color: #f9ceab;
  /* Light blue highlight */
}
.panel-list__item.selected h3[data-v-3871f7c7],
.panel-list__item.selected p[data-v-3871f7c7],
.panel-list__item.selected a[data-v-3871f7c7],
.panel-list__item.selected a[data-v-3871f7c7]:visited {
  color: var(--brand-orange) !important;
}
.panel-list__item.selected .c-btn--utility svg[data-v-3871f7c7] {
  fill: black;
}
button.panel[data-v-3871f7c7] {
  cursor: pointer;
}
button.panel[data-v-3871f7c7]:hover, button.panel.selected[data-v-3871f7c7] {
  background-color: var(--brand-green);
  border: 1px solid var(--brand-green);
}
button.panel:hover.tool[data-v-3871f7c7], button.panel.selected.tool[data-v-3871f7c7] {
  background-color: var(--brand-blue);
  border: 1px solid var(--brand-blue);
}
button.panel:hover h3[data-v-3871f7c7],
button.panel:hover div[data-v-3871f7c7],
button.panel:hover p[data-v-3871f7c7], button.panel.selected h3[data-v-3871f7c7],
button.panel.selected div[data-v-3871f7c7],
button.panel.selected p[data-v-3871f7c7] {
  color: var(--white);
}
.panel[data-v-3871f7c7] {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  text-align: left;
  padding: 0;
  border-radius: var(--border-radius-s);
  border: 1px solid var(--brand-blue);
  padding: var(--padding);
  line-height: 1.5;
  transition: background-color 0.25s ease;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.panel img[data-v-3871f7c7] {
  border-radius: 5px 5px 0 0;
  height: 150px;
  object-fit: cover;
}
.panel h3[data-v-3871f7c7],
.panel p[data-v-3871f7c7],
.panel span[data-v-3871f7c7] {
  transition: color 0.25s ease;
}
.panel h3[data-v-3871f7c7],
.panel h4[data-v-3871f7c7] {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--brand-blue);
}
.panel p[data-v-3871f7c7] {
  margin: 0.25rem auto 1rem;
  font-weight: 100;
}
.panel.selected[data-v-3871f7c7] {
  background-color: var(--brand-green);
  border: 1px solid var(--brand-green);
}
.panel.selected h3[data-v-3871f7c7],
.panel.selected p[data-v-3871f7c7],
.panel.selected div[data-v-3871f7c7] {
  color: var(--white);
}
@media screen and (min-width: 768px) {
.panel.wide-style[data-v-3871f7c7] {
    flex-direction: row;
    gap: 1rem;
}
.panel.wide-style img[data-v-3871f7c7] {
    max-width: 400px;
}
}
.panel__header[data-v-3871f7c7] {
  display: flex;
  gap: var(--padding-s);
  align-items: center;
  justify-content: space-between;
}
.panel__button[data-v-3871f7c7] {
  width: 100%;
  border: 0;
  font-family: "Montserrat", sans-serif;
}
.columns[data-v-3871f7c7] {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8rem;
}
.action-selector__header[data-v-3871f7c7],
.principle-header__content[data-v-3871f7c7] {
  min-height: 15vh;
}
.action-selector__header h2[data-v-3871f7c7] {
  margin-top: 0;
}
.h-flow-none[data-v-3871f7c7] {
  margin-top: 0;
}
.validation-holder[data-v-3871f7c7] {
  min-height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.validation-holder__message[data-v-3871f7c7] {
  background-color: var(--alert);
  color: var(--white);
  text-align: center;
  border-radius: calc(var(--border-radius-s) / 1.5);
  padding: 0 calc(var(--padding-s) * 1.5);
  font-weight: bold;
}
.fade-enter-active[data-v-3871f7c7],
.fade-leave-active[data-v-3871f7c7] {
  transition: opacity 0.25s ease;
}
.fade-enter-from[data-v-3871f7c7],
.fade-leave-to[data-v-3871f7c7] {
  opacity: 0;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-3.use[2]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/sass-loader/dist/cjs.js!./node_modules/vue-loader/dist/index.js??ruleSet[1].rules[8].use[0]!./src/frontend/views/ActionPlanPage.vue?vue&type=style&index=0&id=6c044f3a&scoped=true&lang=scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.panel-list[data-v-6c044f3a] {
  padding: 0;
  margin: 0;
  list-style: none;
}
.panel-list .c-card[data-v-6c044f3a] {
  max-width: 100%;
}
.panel-list.selected .panel-list__item[data-v-6c044f3a] {
  background-color: var(--brand-orange);
}
.panel-list.selected .panel-list__item h3[data-v-6c044f3a],
.panel-list.selected .panel-list__item p[data-v-6c044f3a] {
  color: var(--white);
}
.panel-list__item[data-v-6c044f3a] {
  list-style: none;
  cursor: pointer;
}
.panel-list__item[data-v-6c044f3a]:not(.selected):hover {
  background-color: var(--brand-orange);
}
.panel-list__item:not(.selected):hover h3[data-v-6c044f3a],
.panel-list__item:not(.selected):hover p[data-v-6c044f3a],
.panel-list__item:not(.selected):hover a[data-v-6c044f3a],
.panel-list__item:not(.selected):hover a[data-v-6c044f3a]:visited {
  color: var(--white) !important;
}
.panel-list__item.selected[data-v-6c044f3a] {
  background-color: #f9ceab;
  /* Light blue highlight */
}
.panel-list__item.selected h3[data-v-6c044f3a],
.panel-list__item.selected p[data-v-6c044f3a],
.panel-list__item.selected a[data-v-6c044f3a],
.panel-list__item.selected a[data-v-6c044f3a]:visited {
  color: var(--brand-orange) !important;
}
.panel-list__item.selected .c-btn--utility svg[data-v-6c044f3a] {
  fill: black;
}
button.panel[data-v-6c044f3a] {
  cursor: pointer;
}
button.panel[data-v-6c044f3a]:hover, button.panel.selected[data-v-6c044f3a] {
  background-color: var(--brand-green);
  border: 1px solid var(--brand-green);
}
button.panel:hover.tool[data-v-6c044f3a], button.panel.selected.tool[data-v-6c044f3a] {
  background-color: var(--brand-blue);
  border: 1px solid var(--brand-blue);
}
button.panel:hover h3[data-v-6c044f3a],
button.panel:hover div[data-v-6c044f3a],
button.panel:hover p[data-v-6c044f3a], button.panel.selected h3[data-v-6c044f3a],
button.panel.selected div[data-v-6c044f3a],
button.panel.selected p[data-v-6c044f3a] {
  color: var(--white);
}
.panel[data-v-6c044f3a] {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  text-align: left;
  padding: 0;
  border-radius: var(--border-radius-s);
  border: 1px solid var(--brand-blue);
  padding: var(--padding);
  line-height: 1.5;
  transition: background-color 0.25s ease;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.panel img[data-v-6c044f3a] {
  border-radius: 5px 5px 0 0;
  height: 150px;
  object-fit: cover;
}
.panel h3[data-v-6c044f3a],
.panel p[data-v-6c044f3a],
.panel span[data-v-6c044f3a] {
  transition: color 0.25s ease;
}
.panel h3[data-v-6c044f3a],
.panel h4[data-v-6c044f3a] {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--brand-blue);
}
.panel p[data-v-6c044f3a] {
  margin: 0.25rem auto 1rem;
  font-weight: 100;
}
.panel.selected[data-v-6c044f3a] {
  background-color: var(--brand-green);
  border: 1px solid var(--brand-green);
}
.panel.selected h3[data-v-6c044f3a],
.panel.selected p[data-v-6c044f3a],
.panel.selected div[data-v-6c044f3a] {
  color: var(--white);
}
@media screen and (min-width: 768px) {
.panel.wide-style[data-v-6c044f3a] {
    flex-direction: row;
    gap: 1rem;
}
.panel.wide-style img[data-v-6c044f3a] {
    max-width: 400px;
}
}
.panel__header[data-v-6c044f3a] {
  display: flex;
  gap: var(--padding-s);
  align-items: center;
  justify-content: space-between;
}
.panel__button[data-v-6c044f3a] {
  width: 100%;
  border: 0;
  font-family: "Montserrat", sans-serif;
}
.principle-icons[data-v-6c044f3a] {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.principle-icons p[data-v-6c044f3a],
.principle-icons li[data-v-6c044f3a] {
  text-align: center;
}
.principle-icon[data-v-6c044f3a] {
  height: 5rem;
  width: 5rem;
  min-width: 5rem;
  border-radius: 50%;
  border: none;
  display: inline-block;
  transition: all 0.25s ease;
  filter: saturate(100%) brightness(100%);
  padding: 0;
}
.principle-icon img[data-v-6c044f3a] {
  width: 100%;
  height: auto;
}
.principle-icon[data-v-6c044f3a]:hover {
  cursor: pointer;
  filter: saturate(150%) brightness(110%);
}
.principle-icon[data-v-6c044f3a]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  /* Any other styles to indicate disabled status */
}
.action-plan__title[data-v-6c044f3a] {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 600px) {
.action-plan__title[data-v-6c044f3a] {
    flex-direction: column;
}
}
.principles[data-v-6c044f3a] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--padding-l);
}
.principle[data-v-6c044f3a] {
  padding: var(--padding);
  border-radius: var(--border-radius-s);
  display: flex;
  align-items: center;
  justify-content: center;
}
.principle__header[data-v-6c044f3a] {
  display: flex;
  margin-bottom: var(--padding);
  gap: var(--padding);
}
@media screen and (max-width: 768px) {
.principle__header[data-v-6c044f3a] {
    flex-direction: column;
}
}
.principle__header .principle-image[data-v-6c044f3a], .principle__header iframe[data-v-6c044f3a] {
  max-width: 300px;
  height: auto;
  margin-bottom: 1rem;
}
.principle__header .principle-icon[data-v-6c044f3a],
.principle__header .principle-media[data-v-6c044f3a] {
  flex: 0 0 auto;
}
.principle__header .utilities[data-v-6c044f3a] {
  padding-bottom: var(--padding);
}
.principle__header .principle-content[data-v-6c044f3a] {
  flex: 1 1 0px;
}
@media only screen and (max-width: 768px) {
.principle__header[data-v-6c044f3a] {
    flex-direction: column;
}
}
.principle__header h2[data-v-6c044f3a] {
  margin-top: 0;
}
.principle.holder[data-v-6c044f3a] {
  border: 1px solid var(--base-content-100);
  border-radius: var(--base-radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.principle.filled[data-v-6c044f3a] {
  flex-direction: column;
}
.principle.filled[data-v-6c044f3a] > *, .principle.filled h2[data-v-6c044f3a] {
  color: #002f49;
}
.principle.filled .panel[data-v-6c044f3a] {
  background-color: #ffffff;
  color: #2b2b2b;
}
.panel.tool[data-v-6c044f3a] {
  padding: 0.25rem 1rem 0.25rem;
}
.panel.tool h4[data-v-6c044f3a] {
  font-size: 1.25rem;
}
@media only screen and (max-width: 768px) {
.app .c-feature-box[data-v-6c044f3a] {
    display: flex;
    block-size: auto;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0;
    list-style: none;
    scrollbar-color: #fff var(--brand-blue);
}
}
/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/vue-loader/dist/index.js??ruleSet[1].rules[8].use[0]!./src/frontend/views/HomePage.vue?vue&type=style&index=0&id=0514d483&scoped=true&lang=css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/

.embed-container[data-v-0514d483] {
  margin-bottom: 1rem;
}
.logo-opl[data-v-0514d483] {
    max-width: 350px;
    margin-bottom: 1rem;
}
.login-row {
&[data-v-0514d483] {
  display: flex;
  gap: 1rem;
  }
.col1[data-v-0514d483] {
    width: 50%;
}
.col2[data-v-0514d483] {
    width: 50%;
}
.col1[data-v-0514d483],
  .col2[data-v-0514d483] {
    background-color: var(--brand-blue);
    color: var(--white);
    padding: 2rem;
}
}
.app .c-feature-box p[data-v-0514d483] {
  width: 100%;
}
.embed-container[data-v-0514d483] {
  position: relative;
  padding-bottom: 56.25%;
  /* height: 0;
  overflow: hidden;
  max-width: 100%; */
}
.embed-container iframe[data-v-0514d483],
.embed-container object[data-v-0514d483],
.embed-container embed[data-v-0514d483] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-3.use[2]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/sass-loader/dist/cjs.js!./node_modules/vue-loader/dist/index.js??ruleSet[1].rules[8].use[0]!./src/frontend/components/PrincipleSelect.vue?vue&type=style&index=0&id=3ac3f853&scoped=true&lang=scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.principle-icons[data-v-3ac3f853] {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.principle-icons p[data-v-3ac3f853],
.principle-icons li[data-v-3ac3f853] {
  text-align: center;
}
.principle-icon[data-v-3ac3f853] {
  height: 5rem;
  width: 5rem;
  min-width: 5rem;
  border-radius: 50%;
  border: none;
  display: inline-block;
  transition: all 0.25s ease;
  filter: saturate(100%) brightness(100%);
  padding: 0;
}
.principle-icon img[data-v-3ac3f853] {
  width: 100%;
  height: auto;
}
.principle-icon[data-v-3ac3f853]:hover {
  cursor: pointer;
  filter: saturate(150%) brightness(110%);
}
.principle-icon[data-v-3ac3f853]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  /* Any other styles to indicate disabled status */
}
.principle h3[data-v-3ac3f853] {
  margin: 0 0 var(--padding) 0;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-3.use[2]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/sass-loader/dist/cjs.js!./node_modules/vue-loader/dist/index.js??ruleSet[1].rules[8].use[0]!./src/frontend/views/PrinciplesPage.vue?vue&type=style&index=0&id=f382a74a&scoped=true&lang=scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@media only screen and (max-width: 768px) {
.container[data-v-f382a74a] {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
}
@media only screen and (min-width: 768px) {
.container[data-v-f382a74a] {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1em 1em;
}
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-3.use[2]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/sass-loader/dist/cjs.js!./node_modules/vue-loader/dist/index.js??ruleSet[1].rules[8].use[0]!./src/frontend/views/PrintHome.vue?vue&type=style&index=0&id=4fd37ef2&scoped=true&lang=scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************/
.panel-list[data-v-4fd37ef2] {
  padding: 0;
  margin: 0;
  list-style: none;
}
.panel-list .c-card[data-v-4fd37ef2] {
  max-width: 100%;
}
.panel-list.selected .panel-list__item[data-v-4fd37ef2] {
  background-color: var(--brand-orange);
}
.panel-list.selected .panel-list__item h3[data-v-4fd37ef2],
.panel-list.selected .panel-list__item p[data-v-4fd37ef2] {
  color: var(--white);
}
.panel-list__item[data-v-4fd37ef2] {
  list-style: none;
  cursor: pointer;
}
.panel-list__item[data-v-4fd37ef2]:not(.selected):hover {
  background-color: var(--brand-orange);
}
.panel-list__item:not(.selected):hover h3[data-v-4fd37ef2],
.panel-list__item:not(.selected):hover p[data-v-4fd37ef2],
.panel-list__item:not(.selected):hover a[data-v-4fd37ef2],
.panel-list__item:not(.selected):hover a[data-v-4fd37ef2]:visited {
  color: var(--white) !important;
}
.panel-list__item.selected[data-v-4fd37ef2] {
  background-color: #f9ceab;
  /* Light blue highlight */
}
.panel-list__item.selected h3[data-v-4fd37ef2],
.panel-list__item.selected p[data-v-4fd37ef2],
.panel-list__item.selected a[data-v-4fd37ef2],
.panel-list__item.selected a[data-v-4fd37ef2]:visited {
  color: var(--brand-orange) !important;
}
.panel-list__item.selected .c-btn--utility svg[data-v-4fd37ef2] {
  fill: black;
}
button.panel[data-v-4fd37ef2] {
  cursor: pointer;
}
button.panel[data-v-4fd37ef2]:hover, button.panel.selected[data-v-4fd37ef2] {
  background-color: var(--brand-green);
  border: 1px solid var(--brand-green);
}
button.panel:hover.tool[data-v-4fd37ef2], button.panel.selected.tool[data-v-4fd37ef2] {
  background-color: var(--brand-blue);
  border: 1px solid var(--brand-blue);
}
button.panel:hover h3[data-v-4fd37ef2],
button.panel:hover div[data-v-4fd37ef2],
button.panel:hover p[data-v-4fd37ef2], button.panel.selected h3[data-v-4fd37ef2],
button.panel.selected div[data-v-4fd37ef2],
button.panel.selected p[data-v-4fd37ef2] {
  color: var(--white);
}
.panel[data-v-4fd37ef2] {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  text-align: left;
  padding: 0;
  border-radius: var(--border-radius-s);
  border: 1px solid var(--brand-blue);
  padding: var(--padding);
  line-height: 1.5;
  transition: background-color 0.25s ease;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.panel img[data-v-4fd37ef2] {
  border-radius: 5px 5px 0 0;
  height: 150px;
  object-fit: cover;
}
.panel h3[data-v-4fd37ef2],
.panel p[data-v-4fd37ef2],
.panel span[data-v-4fd37ef2] {
  transition: color 0.25s ease;
}
.panel h3[data-v-4fd37ef2],
.panel h4[data-v-4fd37ef2] {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--brand-blue);
}
.panel p[data-v-4fd37ef2] {
  margin: 0.25rem auto 1rem;
  font-weight: 100;
}
.panel.selected[data-v-4fd37ef2] {
  background-color: var(--brand-green);
  border: 1px solid var(--brand-green);
}
.panel.selected h3[data-v-4fd37ef2],
.panel.selected p[data-v-4fd37ef2],
.panel.selected div[data-v-4fd37ef2] {
  color: var(--white);
}
@media screen and (min-width: 768px) {
.panel.wide-style[data-v-4fd37ef2] {
    flex-direction: row;
    gap: 1rem;
}
.panel.wide-style img[data-v-4fd37ef2] {
    max-width: 400px;
}
}
.panel__header[data-v-4fd37ef2] {
  display: flex;
  gap: var(--padding-s);
  align-items: center;
  justify-content: space-between;
}
.panel__button[data-v-4fd37ef2] {
  width: 100%;
  border: 0;
  font-family: "Montserrat", sans-serif;
}
.principle-icons[data-v-4fd37ef2] {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.principle-icons p[data-v-4fd37ef2],
.principle-icons li[data-v-4fd37ef2] {
  text-align: center;
}
.principle-icon[data-v-4fd37ef2] {
  height: 5rem;
  width: 5rem;
  min-width: 5rem;
  border-radius: 50%;
  border: none;
  display: inline-block;
  transition: all 0.25s ease;
  filter: saturate(100%) brightness(100%);
  padding: 0;
}
.principle-icon img[data-v-4fd37ef2] {
  width: 100%;
  height: auto;
}
.principle-icon[data-v-4fd37ef2]:hover {
  cursor: pointer;
  filter: saturate(150%) brightness(110%);
}
.principle-icon[data-v-4fd37ef2]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  /* Any other styles to indicate disabled status */
}
.no-printer[data-v-4fd37ef2] {
  margin-right: var(--padding-xs) !important;
}
body[data-v-4fd37ef2] {
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
}
h3[data-v-4fd37ef2] {
  font-size: 1rem !important;
  line-height: 1.3;
  padding-bottom: 0.3rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}
.print-options[data-v-4fd37ef2] {
  display: flex;
  justify-content: flex-end;
  margin-bottom: var(--padding);
  gap: var(--padding);
}
.panel[data-v-4fd37ef2] {
  padding: var(--padding-xs);
  background-color: #fff;
}
.panel .action__image[data-v-4fd37ef2] {
  width: 110px;
  height: 110px;
  float: left;
  position: relative;
  background-color: #ccc;
  overflow: hidden;
}
.panel .action__image img[data-v-4fd37ef2] {
  position: absolute;
  overflow: hidden;
}
.panel.tool[data-v-4fd37ef2] {
  padding: 0.25rem 1rem 0.25rem;
}
.panel.tool h4[data-v-4fd37ef2] {
  font-size: 1.25rem;
}
.print__header[data-v-4fd37ef2] {
  gap: 16px;
  align-items: center;
}
@media (min-width: 768px) {
.print__header[data-v-4fd37ef2] {
    display: grid;
    grid-template-columns: 1fr 3fr;
}
}
.print__logo[data-v-4fd37ef2] {
  margin-top: 7px;
}
.logo-eco[data-v-4fd37ef2] {
  width: 230px;
  height: auto;
}
.print__title h1[data-v-4fd37ef2] {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary);
  text-align: center;
}
.action__text[data-v-4fd37ef2] {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  overflow: hidden;
}
.action__description[data-v-4fd37ef2] {
  float: left;
  padding-left: 10px;
  width: 185px;
  margin: 0;
  height: 147px;
}
.action__description h3[data-v-4fd37ef2] {
  color: var(--black);
  height: 42px;
}
.principles[data-v-4fd37ef2] {
  gap: var(--padding);
}
@media (min-width: 768px) {
.principles[data-v-4fd37ef2] {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
}
.principle-column[data-v-4fd37ef2] {
  border-radius: var(--border-radius-xs);
}
@media screen and (max-width: 768px) {
.principle-column[data-v-4fd37ef2] {
    margin-bottom: 1rem;
}
}
.principle[data-v-4fd37ef2] {
  padding: var(--padding-xs);
  border-radius: var(--border-radius-xs);
  display: flex;
  align-items: center;
  justify-content: center;
}
.principle__description_wrapper[data-v-4fd37ef2] {
  overflow: hidden;
  height: 6rem;
}
.principle__description[data-v-4fd37ef2] {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  margin: 0;
  font-size: 0.875rem;
  margin-top: 0.2rem;
}
@media screen and (min-width: 768px) {
.principle__description[data-v-4fd37ef2] {
    font-size: 0.813rem;
}
}
.principle__description[data-v-4fd37ef2] {
  padding: 0.5rem;
}
.principle.filled[data-v-4fd37ef2] {
  flex-direction: column;
}
.principle__header[data-v-4fd37ef2] {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 768px) {
.principle__header[data-v-4fd37ef2] {
    flex-direction: column;
}
}
.principle__header h2[data-v-4fd37ef2] {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  font-size: 1.3rem;
}
@media print {
@page {
    size: A4 landscape;
    margin: 0;
}
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-3.use[2]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/sass-loader/dist/cjs.js!./node_modules/vue-loader/dist/index.js??ruleSet[1].rules[8].use[0]!./src/frontend/views/PrintRequest.vue?vue&type=style&index=0&id=9a31c9d2&scoped=true&lang=scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.print-options[data-v-9a31c9d2] {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: auto;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-3.use[2]!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/sass-loader/dist/cjs.js!./node_modules/vue-loader/dist/index.js??ruleSet[1].rules[8].use[0]!./src/frontend/views/ToolsPage.vue?vue&type=style&index=0&id=68714136&scoped=true&lang=scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************/
.panel-list[data-v-68714136] {
  padding: 0;
  margin: 0;
  list-style: none;
}
.panel-list .c-card[data-v-68714136] {
  max-width: 100%;
}
.panel-list.selected .panel-list__item[data-v-68714136] {
  background-color: var(--brand-orange);
}
.panel-list.selected .panel-list__item h3[data-v-68714136],
.panel-list.selected .panel-list__item p[data-v-68714136] {
  color: var(--white);
}
.panel-list__item[data-v-68714136] {
  list-style: none;
  cursor: pointer;
}
.panel-list__item[data-v-68714136]:not(.selected):hover {
  background-color: var(--brand-orange);
}
.panel-list__item:not(.selected):hover h3[data-v-68714136],
.panel-list__item:not(.selected):hover p[data-v-68714136],
.panel-list__item:not(.selected):hover a[data-v-68714136],
.panel-list__item:not(.selected):hover a[data-v-68714136]:visited {
  color: var(--white) !important;
}
.panel-list__item.selected[data-v-68714136] {
  background-color: #f9ceab;
  /* Light blue highlight */
}
.panel-list__item.selected h3[data-v-68714136],
.panel-list__item.selected p[data-v-68714136],
.panel-list__item.selected a[data-v-68714136],
.panel-list__item.selected a[data-v-68714136]:visited {
  color: var(--brand-orange) !important;
}
.panel-list__item.selected .c-btn--utility svg[data-v-68714136] {
  fill: black;
}
button.panel[data-v-68714136] {
  cursor: pointer;
}
button.panel[data-v-68714136]:hover, button.panel.selected[data-v-68714136] {
  background-color: var(--brand-green);
  border: 1px solid var(--brand-green);
}
button.panel:hover.tool[data-v-68714136], button.panel.selected.tool[data-v-68714136] {
  background-color: var(--brand-blue);
  border: 1px solid var(--brand-blue);
}
button.panel:hover h3[data-v-68714136],
button.panel:hover div[data-v-68714136],
button.panel:hover p[data-v-68714136], button.panel.selected h3[data-v-68714136],
button.panel.selected div[data-v-68714136],
button.panel.selected p[data-v-68714136] {
  color: var(--white);
}
.panel[data-v-68714136] {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  text-align: left;
  padding: 0;
  border-radius: var(--border-radius-s);
  border: 1px solid var(--brand-blue);
  padding: var(--padding);
  line-height: 1.5;
  transition: background-color 0.25s ease;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.panel img[data-v-68714136] {
  border-radius: 5px 5px 0 0;
  height: 150px;
  object-fit: cover;
}
.panel h3[data-v-68714136],
.panel p[data-v-68714136],
.panel span[data-v-68714136] {
  transition: color 0.25s ease;
}
.panel h3[data-v-68714136],
.panel h4[data-v-68714136] {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--brand-blue);
}
.panel p[data-v-68714136] {
  margin: 0.25rem auto 1rem;
  font-weight: 100;
}
.panel.selected[data-v-68714136] {
  background-color: var(--brand-green);
  border: 1px solid var(--brand-green);
}
.panel.selected h3[data-v-68714136],
.panel.selected p[data-v-68714136],
.panel.selected div[data-v-68714136] {
  color: var(--white);
}
@media screen and (min-width: 768px) {
.panel.wide-style[data-v-68714136] {
    flex-direction: row;
    gap: 1rem;
}
.panel.wide-style img[data-v-68714136] {
    max-width: 400px;
}
}
.panel__header[data-v-68714136] {
  display: flex;
  gap: var(--padding-s);
  align-items: center;
  justify-content: space-between;
}
.panel__button[data-v-68714136] {
  width: 100%;
  border: 0;
  font-family: "Montserrat", sans-serif;
}
.main-content[data-v-68714136] {
  width: 100%;
}
.wide-style img[data-v-68714136] {
  max-width: 100%;
  width: 100%;
}
.columns[data-v-68714136] {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8rem;
}
.fade-enter-active[data-v-68714136],
.fade-leave-active[data-v-68714136] {
  transition: opacity 0.5s;
}
.fade-enter-from[data-v-68714136],
.fade-leave-to[data-v-68714136] {
  opacity: 0;
}
.validation-area[data-v-68714136] {
  position: relative;
  height: 2rem;
}
.validation-message[data-v-68714136] {
  background-color: #00ffad;
  color: #006f4c;
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.25rem 0;
  width: 100%;
  border-radius: var(--base-radius);
  position: absolute;
  margin-bottom: 1rem;
}
.col-2 h2[data-v-68714136] {
  margin-top: 0;
}
.selected-tools[data-v-68714136] {
  display: flex;
  gap: 0.5rem;
}
.selected-tools .panel[data-v-68714136] {
  padding: var(--padding-xs);
}
/*!**************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-3.use[2]!./node_modules/sass-loader/dist/cjs.js!./src/frontend/scss/frontend.scss ***!
  \**************************************************************************************************************************************************/
.principle-image {
  max-width: 300px;
  margin-bottom: 1rem;
}
