///* ========================================================================
//   #HEADINGS
//   ======================================================================== */

.app {

  .formkit-input {
    background-color: var(--white);
  }

.formkit-wrapper,
.formkit-fieldset {
  max-width: 100% !important;
.forgot-password {
    width: 100% !important;
    text-align: center !important;
  }
}



}